// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$color-white: #fff;
$color-black: #000;

$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-yellow: #ffb900;
$color-orange: #ff7730;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;
$font-inherit: "inherit";
$default-font-size: 1.6rem;

// SPACE VARIABLES

$space-s: 0.5rem;
$space-m: 1rem;
$space-l: 1.5rem;
$space-xl: 2rem;